@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');
*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color:#000;
    font-family: 'Noto Sans', sans-serif;
}
#mainPage{
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    background-color: white;
    top: 100px;
}
.header{
    display: flex;
    width: 16.66%;
    height: 1024px;
    margin: auto;
    background-color: rgba(23, 23, 23, 0.1);
    justify-content: space-around;
    align-items: center;
    position: sticky;
    left: 240px;
}
#pageName{
    height: 90px;
    margin: auto;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin-bottom: 2vw;
}
#menu{
    display: flex;
    position: relative;
    height: auto;
    margin: auto;
}
#subMenu{
    position: relative;
    height: auto;
    margin: auto;
}
#imageBody{
    position: relative;
}
#hrBody{
    position: relative;
}
#container{
    width: 100%;
    height: auto;
    margin-top: 60px;
    background-color: white;
    align-items: center;
    position: relative;
}
#containerIn{
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: white;
    align-items: center;
    position: relative;
}
#explain{
    display: flex;
    height: auto;
    margin-top: 30px;
    margin-bottom: 2vw;
    margin-right: 5px;
    background-color: white;
}
#explainText{
    display: flex;
    height: auto;
    margin-top: 20px;
    margin-right: 5px;
    background-color: white;
}
.img-dis{
    height: 5vw;
    width: 100%;
    background-color: white;
}
.nav > li{
    font-size: 11px; font-weight: 400;
    margin-left: 22px;
    padding: 0 24px;
}
.nav > li:hover a{ 
    color: rgb(255, 255, 255);
}
.search {
    width: 15px;
    height: 20px;
    transition: width .2s ease;
}
.search:hover {
    width: 100px;
}

a {
    text-decoration: none;
    color: rgb(197, 197, 197); 
}
.search > form > input{
    margin-top: 20px;
    border: none;
}

.searchArea{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr{
    background-color: black;
    border: 0px;
}
/*본문*/
.row
{
    display: flex;
}
.col-0{width: 8.5%; padding: 0px 5px;}
.col-1{width: 16.5%; padding: 0px 5px;}
.col-2{width: 25%; padding: 0px 5px;}
.col-3{width: 50%; padding: 0px 5px;}
.col-4{width: 66.66%; padding: 0px 5px;}
.col-44{width: 33.33%; padding: 0px 5px;}
.col-5{width: 83.32%; padding: 0px 5px;}
.col-6{width: 100%; padding: 0px 5px;}


.h-auto{height: auto;}
.h-40{height: 40px;}
.h-50{height: 50px;}
.h-70{height: 70px;}
.h-100{height: 100px;}
.h-200{height: 200px;}
.h-300{height: 300px;}
.h-400{height: 400px;}
.h-500{height: 500px;}

.bg-white{background-color: white;}
.bg-gray{background-color: #999;}
.bg-lightgray{background-color: rgb(218, 218, 218);}
.bg-blue{background-color:rgb(12, 158, 255);}
.bg-green{background-color: yellowgreen;}
.bg-none{background:none;}

.text-white{color: white;}
.text-gray{color: rgb(87, 87, 87);}
.text-gray-easy{color: rgb(157, 157, 157);}
.text-gold{color: goldenrod;}

.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-middle{line-height: 45px;}

.text-img{font-weight: 700; font-size: 11vw;}
.text-main-title{font-weight: 700; font-size: 2.2vw;}
.text-main-title2{font-weight: 600; font-size: 1.9vw;}

.text-normal{font-weight: 400; font-size: 1.7vw;}
.text-footer{font-weight: 300; font-size: 14px;}
.text-footer-end{font-weight: 300; font-size: 5px;}
.text-menu{font-weight: 400; font-size: 1.3vw;}
.text-sub-menu{font-weight: 600; font-size: 7vw;}

.img-fit{width: 100%;}
/*.img-border{border:1px solid #333; box-sizing: border-box;}*/

.paragraph{column-count: 3; column-gap: 20px; column-rule: 4px double steelblue; word-break: keep-all;}
.paragraph-span{column-span: all;}

footer p{padding: 30px 5px;}
#footer{margin-bottom: 0px;}

/*단어안끊어지게*/
.word{
    word-break: keep-all;
}
.dis{
    display: flex;
}
.inl{
    display: inline;
}